html {
    font-size: 10px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #2c2c2c;
}

.slider {
    margin: 2rem;
    overflow: hidden;
}

.slider__picture {
    width: 400%;
    overflow: hidden;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

img {
    height: 100%;
    width: 100%;
}

.slider__navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.slider__descriptions {
    display: flex;
    flex-flow: column;
}

.slider__description {
    width: 80%;
    font-size: 2.4rem;
    color: white;
}

.slider__controls {
    display: flex;
    align-items: center;
}

.slider__control {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0.5rem;
    background-color: rgb(90, 101, 168);
    border-radius: 1rem;
    transition: all .4s ease;
}

.slider__control:hover {
    background-color: rgb(241, 241, 241, 0.9);
}

input[name="images"] {
    display: none;
}

#i1:checked ~ .s1 {
    margin-left: 0;
}

#i2:checked ~ .s1 {
    margin-left: -25%;
}

#i3:checked ~ .s1 {
    margin-left: -50%;
}

#i4:checked ~ .s1 {
    margin-left: -75%;
}

#i1:checked ~ .d1 {
    opacity: 1;
}

#i2:checked ~ .d1 {
    opacity: 1;
}

#i3:checked ~ .d1 {
    opacity: 1;
}

#i4:checked ~ .d1 {
    opacity: 1;
}